<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <form method="GET" action="/mongoFind">
        <table>
            <tr>
                <td>
                    Page
                </td>
                <td>
                    <input name="page" type="number" min="1" placeholder="Please input page integer">
                </td>
            </tr>
            <tr>
                <td>
                    Limit
                </td>
                <td>
                    <input name="limit" type="number" placeholder="Please input limit integer">
                </td>
            </tr>
            
        </table>
        <tr>
            <button type="submit">Submit</button>
        </tr>
    </form>

<body>

</body>

</html>